* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    user-select: none;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #1e1e2f;
    color: #ffffff;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    user-select: auto;
}

.app {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

/* Error Section */
.error {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    z-index: 100;
    background: transparent;
}

.error-container {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

/* Hero Section */
.hero {
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 20vh;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -100;
    background: transparent;
}

.app-title {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    color: #ff416c;
    text-shadow: 0 0 3px #ff416c;
}

.app-description {
    font-size: 1rem;
    margin-top: 10px;
    max-width: 250px;
}

/* Input Section */
.input-section {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #1e1e2f;
}

.input-form {
    display: flex;
    background: #29293d;
    padding: 4px;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.prompt-input {
    width: 100%;
    padding: 0px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background: transparent;
    outline: none;
}

.prompt-input::placeholder {
    color: #888ca6;
}

.generate-btn {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border: none;
    box-shadow: 0 0 5px rgba(255, 75, 43, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 2rem;
}

.generate-btn-loader {
    width: 2rem;
    height: 2rem;
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 5rem;
    overflow: auto;
    padding: 10px;
}

.message-card {
    border-radius: 2rem;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message-card.user-card {
    align-self: flex-end;
    background: #ff416c;
    max-width: 70%;
}

.message-card.bot-card {
    align-self: flex-start;
    max-width: 85%;
}

.generated-image {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-card p {
	font-size: 1rem;
	font-weight: 400;
    text-align: left;
    padding: 15px 20px;
    user-select: auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2rem;
    background: transparent;
}

/* Not Supportive */
.not-supportive {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-supportive .icon {
    font-size: 5rem;
    animation: pulse 2s infinite;
    margin-bottom: 1rem;
}

.not-supportive .message {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.not-supportive .detail {
    font-size: 1rem;
    opacity: 0.8;
    max-width: 500px;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }

    40%, 50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .not-supportive {
        display: flex;
    }

    header {
        display: none;
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }
}
