* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #1e1e2f;
    color: #ffffff;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    user-select: auto;
}

.app {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

/* Error Section */
.error {
    position: fixed;
    top: -10vh;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    background: transparent;
    transition: top 0.2s 0s ease-in;
}

.error.shown {
    top: 0;
}

.error-container {
    font-size: 1rem;
    font-weight: 400;
    background: #ff416c;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

/* Hero Section */
.hero {
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -100;
    background: transparent;
    transition: top 0.2s 0s ease-in, bottom 0.2s 0s ease-in;
}

.hero.slide-up {
    top: 0vh;
    bottom: 70vh;
}

.app-title {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    color: #ff416c;
    margin-bottom: 10px;
}

.app-description {
    font-size: 1rem;
    max-width: 250px;
}

/* Input Section */
.input-section {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #1e1e2f;
}

.input-form {
    display: flex;
    background: #29293d;
    padding: 4px;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.prompt-input {
    width: 100%;
    padding: 0px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background: transparent;
    outline: none;
}

.prompt-input::placeholder {
    color: #888ca6;
}

.generate-btn {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    background: #ff416c;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 2rem;
}

.generate-btn.loading {
    opacity: 0.5;
}

/* Image Section */
.image-card {
    border-radius: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 100vh;
    bottom: -100vh;
    transition: bottom 0.2s 0s ease-in, top 0.2s 0s ease-in;
    margin: 10px;
    overflow: auto;
}

.image-card.shown {
    top: 17vh;
    bottom: 10vh;
}

.image-container {
    position: relative;
}

.generated-image {
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    object-fit: cover;
    background: #f5f6f7;
    overflow: auto;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
}

.generated-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 1rem;
}

.generated-image-loader {
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    object-fit: cover;
    background: #1e1e2f;
    overflow: auto;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.generated-image-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #1e1e2f, #ff416c, #1e1e2f);
    animation: shimmer 1.5s infinite;
}

.download-button {
    color: #ff416c;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media only screen and (min-width: 600px) {
    .input-section {
        right: 30vh;
        left: 30vh;
    }

    .image-card {
        right: 30vh;
        left: 30vh;
    }
}

@media only screen and (min-width: 1000px) {
    .input-section {
        right: 60vh;
        left: 60vh;
    }

    .image-card {
        right: 60vh;
        left: 60vh;
    }
}

/* Key Frames */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes shimmer {
    0% {
        left: -150%;
    }
    100% {
        left: 100%;
    }
}
