* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    user-select: none;
}

/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #1e1e2f;
    color: #f5f5f7;
    line-height: 1.6;
}

input {
    user-select: auto;
}

.app {
    text-align: center;
    margin: 1rem;
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #f5f5f7;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.app-title {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
    text-shadow: 0px 0px 10px #fff;
}

.app-description {
    font-size: 1rem;
    margin-top: 10px;
}

/* Input Section */
.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    margin-bottom: 2rem;
}

.input-error {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ff4b2b;
    margin-bottom: 10px;
}

.prompt-input {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #29293d;
    color: #f5f5f7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 15px;
}

.prompt-input::placeholder {
    color: #888ca6;
}

.generate-btn {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #f5f5f7;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255, 75, 43, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
}

.generate-btn-loader {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.generate-btn:active {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(255, 75, 43, 0.7);
}

/* Gallery Section */
.gallery {
    display: grid;
    gap: 20px;
    text-align: left;
    margin-bottom: 2rem;
}

.image-card {
    position: relative;
    text-align: left;
    border-radius: 8px;
    min-height: 340px;
}

.generated-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.generated-image.loading {
    display: none;
}

.image-loader {
    width: 2rem;
    height: 2rem;
    border: 2px solid #ff416c;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.image-card p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	font-size: 1rem;
	font-weight: 400;
    padding: 10px 15px;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.image-card p.loading {
    display: none;
}

.download-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.download-image.loading {
    display: none;
}

.download-image a {
    color: #f5f5f7;
    text-decoration: none;
}

/* Footer */
.footer {
    background: linear-gradient(135deg, #29293d, #1e1e2f);
    color: #f5f5f7;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Not Supportive */
.not-supportive {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-supportive .icon {
    font-size: 5rem;
    animation: pulse 2s infinite;
    margin-bottom: 1rem;
}

.not-supportive .message {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.not-supportive .detail {
    font-size: 1rem;
    opacity: 0.8;
    max-width: 500px;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }

    40%, 50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
